
    
    
    body{
    
        background-color: white;
    }
    
    
    .nav-link.active {
        color: blue;
      }
    
      .nav-link:hover {
        text-decoration: none;
    }
    
    .nav-link.active {
        text-decoration: none;
    }
    .nav-link:hover,
    .nav-link.active {
        text-decoration: none;
    }