.buttonStyling{
    float: right;
}
.GroupTitle{
font-size:x-large;
font-weight:600;
font-family:Arial, Helvetica, 'sans-serif';
position: relative;

}
#alphabeticalStyling{
    border: 2px solid #e7e6e6;
    margin-right:.6rem;
    direction:ltr;
    width:18rem;
}
#createGroupStyling{
    width:  18rem;
    background-color: #e6f5f8; 
    color: rgb(0, 128, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}
.arrwoStyling{
     font-size: 12px;
     color: rgb(58, 58, 58);
     direction: rtl;
}
.button-text{
font-family:Arial, Helvetica, 'sans-serif';
color: rgb(58, 58, 58);
}
.plusStyiling{
    font-weight:bolder;
}


