
.CRow{
  margin: 2em 0;
}

.CInfo{
  justify-content: center;
  
}


.CTicket{
  justify-content: center;
  
}

.CMembers{
  margin-top: 15px;
  display: flex;
  div{
    padding-left: 10px;
  }
}
.CTitle{
  margin-top: 20px;
  font-weight: bold;
}

.CDisruption{
  margin: 20px 10px 10px 10px;
  margin-top: 10px;
  width: 450px;
}


.CTicket-body{
  justify-content: center;
}

.CTTitle{
  font-weight: bold;
}

.CCard {
  background:#ecedef;
  height: 13em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top: 15px;
  border:3px;
}

.CCardLeft {
  margin-right: 0;
  text-align:left ;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 20em;
}

.CCardRight {
  margin-left: 0;
  text-align: center;
  width: 14em;
  border-left: .18em dashed #111;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  &:before,
  &:after {
      content: "";
      position: absolute;
      display: block;
      width: 2em;
      height: 2em;
      background: #fff;
      border-radius: 50%;
      left: -1em;
  }
  &:before {
      top: -1em;
  }
  &:after {
      bottom: -1em;
  }
}

.CTTitle {
  font-size: 1.1em;
  margin-top: 0;
  span {
  font-weight: normal;
  }
}


.CDate {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
      font-size: .9em;
      font-weight: bold;
      color: #525252;
      margin: 0;
  }
  span {
      font-size: .7em;
      color: #a2aeae;
  }
}

.CDate {
  margin: .7em 0 0 1em;
}

.CTime {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
      font-size: .9em;
      font-weight: bold;
      color: #525252;
      margin: 0;
  }
  span {
      font-size: .7em;
      color: #a2aeae;
  }
}


.CTime {
  margin: .7em 0 0 3em;
}

.CAddress {
  text-transform: uppercase;
  font-weight: normal;
  h2 {
      font-weight: bold;
      font-size: .9em;
      color: #525252;
      margin: 0;
  }
  span {
      font-size: .7em;
      color: #a2aeae;
  }
}

.CAddress {
  margin: .7em 0 0 1em;
}


.CDate-time{
  display: flex;
}


.CQR{
  width: 8em;
  height: 8em;
}

.CShare-button{
  margin: .7em 0 0 1em;
}
.CShare{
  background-color: #fff;
  color: #111;
  border-radius: 5px;
  border-style: none;
  margin-bottom:10px;
  padding: 5px 15px;
}

.CBook{
  background-color: rgb(28, 28, 241);
  color: white;
  border-radius: 5px;
  border-style: none;
  margin:10px 0;
  padding: 5px 10px;
}
.CBook-button{
  margin: .7em 0 0 1em;
}

